<!-- TabPlay - a tablet-based system for playing bridge.   Copyright(C) 2021 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabPlay.Models.Move

<div id="cantMoveYetModal" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-primary">
                <p class="modal-title text-center">
                    <h3>Warning</h3>
                </p>
            </div>
            <div class="modal-body">
                <p>Table @Model.TableNotReadyNumber is not ready yet.  Please wait and then move to the table before pressing OK</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-success" data-dismiss="modal">
                    OK <span class="far fa-check-square"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h3>
            Move for Round @Model.NewRoundNumber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3 text-center">
        @if (Model.NewTableNumber == 0)
        {
            <h3>Move to Sit Out</h3>
        }
        else
        {
            if (Model.Stay)
            {
                <h3>Stay at Table @Model.NewTableNumber @Model.NewDirection</h3>
            }
            else
            {
                <h3>Move to Table @Model.NewTableNumber @Model.NewDirection</h3>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5 text-center">
        <h5>When the director calls the move, please move for the next round.</h5>
        <h5>And then, when you are seated at the next table</h5>
        <h5>and ready to play, press OK</h5>
    </div>
</div>

@if (Model.TableNotReadyNumber > 0)
{
    <script>
        $("#cantMoveYetModal").modal("show");
    </script>
}

<script>
    var isSubmitted = false;

    function OKButtonClick() {
        if (!isSubmitted) {
            isSubmitted = true;
            location.href = '@Url.Action("OKButtonClick", "Move")?deviceNumber=@Model.DeviceNumber&newTableNumber=@Model.NewTableNumber&newRoundNumber=@Model.NewRoundNumber&newDirection=@Model.NewDirection';
        }
    }
</script>
