<!-- TabPlay - a tablet-based system for playing bridge.   Copyright(C) 2021 by Peter Flippant
Licensed under the Apache License, Version 2.0; you may not use this file except in compliance with the License -->

@model TabPlay.Models.RankingList

<div class="row mt-4">
    <div class="col-12 text-center">
        <h4>
            Ranking List
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <table class="table-sm table-bordered bg-light text-center" style="margin:auto; width:70%">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Rank NS</th>
                    <th>Pair Number</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody id="tableBodyNS">
                @foreach (var Rank in Model)
                {
                    if (Rank.Orientation == "N")
                    {
                        if ((Model.Direction == "North" || Model.Direction == "South") && Model.PairNumber == Rank.PairNumber)
                        {
                            <tr class="table-warning">
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNumber</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNumber</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table-sm table-bordered bg-light text-center" style="margin:auto; width:70%">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Rank EW</th>
                    <th>Pair Number</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody id="tableBodyEW">
                @foreach (var Rank in Model)
                {
                    if (Rank.Orientation == "E")
                    {
                        if ((Model.Direction == "East" || Model.Direction == "West") && Model.PairNumber == Rank.PairNumber)
                        {
                            <tr class="table-warning">
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNumber</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Rank.Rank</td>
                                <td>@Rank.PairNumber</td>
                                <td>@Rank.Score%</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var direction = '@Model.Direction';
    var pairNumber = @Model.PairNumber;
    var twoWinners = true;
    var endScreenUrl = '@Url.Action("Index", "EndScreen")?deviceNumber=@Model.DeviceNumber';
    var moveUrl = '@Url.Action("Index", "Move")?deviceNumber=@Model.DeviceNumber';
    var pollRankingUrl = '@Url.Action("PollRanking", "RankingList")?deviceNumber=@Model.DeviceNumber';
    var finalRankingList = @Json.Encode(Model.FinalRankingList);
</script>
<script src='@Url.Content("~/Scripts/Ranking.js")' type="text/javascript"></script>